<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/blog-list" class="w3-bar-item w3-button"> Welcome, <%= user.name %></a>
    
    <div class="w3-right w3-hide-small">
      <a href="/blog-list" class="w3-bar-item w3-button">Blog</a>
      <a href="/admin/logout" class="w3-bar-item w3-button">Logout</a>
    </div>
  </div>
</div>