<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-card">
    <a href="/" class="w3-bar-item w3-button">
      <img width="50px" height="50px"
        src="data:image/<%=siteSettings.logo.contentType%>;base64,<%=siteSettings.logo.data.toString('base64')%>">
      <%= siteSettings.title %></a>
    <div class="w3-right w3-hide-small">
      <% if (user) { %>
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/blog-list" class="w3-bar-item w3-button">Blog</a>
      <a href="/site-update" class="w3-bar-item w3-button">Manage Site</a>
      <a href="/admin/logout" class="w3-bar-item w3-button">Logout</a>
      <% } %>
      <% if (!user) { %>
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/admin/login" class="w3-bar-item w3-button">Login</a>
      <a href="/admin/register" class="w3-bar-item w3-button">Register</a>
      <% } %>
    </div>
  </div>
</div>
<br />