<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Sesha" />
	<link rel="icon" type="image/png" sizes="32x32" href="/images/logo.png">
	<!-- W3 https://www.w3schools.com/w3css and with own customized code -->
	<link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />
	<title>Blog</title>
</head>