<!DOCTYPE html>
<html>
<%- include('../template/head')-%>

<body>

    <%- include('../template/header')-%>

    <div class="w3-content w3-padding" style="max-width:1564px">

        <div class="w3-container w3-padding-32" id="blog">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Welcome, <%= user.name %>
                <a class="w3-btn w3-green" style="float: right; width: 150px; height: 50px;" href="/blog-add">Add</a>
            </h3>
        </div>

        <div class="w3-container">

            <table class="w3-table-all">
                <thead>
                    <tr class="w3-blue">
                        <th>Title</th>
                        <th>Description</th>
                        <th width="200px">Action</th>
                    </tr>
                </thead>

                <% for(var i = 0; i < blog.length; i++) {%>
                <tr>
                    <td><%= blog[i].title %> </td>
                    <td><%= blog[i].description %> </td>
                    <td>
                        <a class="w3-btn w3-yellow" href="/blog/<%= blog[i].slug %>">Edit</a>
                        <form style="display: inline;" method="post" action="/blog-delete/<%= blog[i]._id %>">
                            <input class="w3-btn w3-red" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                <% } %>

            </table>
        </div>

    </div>

    <%- include('../template/footer')-%>

</body>

</html>