<!DOCTYPE html>
<html>
<%- include('../template/head')-%>

<body>
    
    <%- include('../template/header')-%>

    <div class="w3-content w3-padding" style="max-width:1564px">

        <div class="w3-container w3-padding-32" id="blog">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Blog</h3>
        </div>

        <div class="w3-row-padding w3-grayscale">

            <% for(var i = 0; i < blog.length; i++) {%>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="https://revenuearchitects.com/wp-content/uploads/2017/02/Blog_pic.png" alt="John" style="width:100%">
                <h3><%= blog[i].title %></h3>
                <p class="w3-opacity">Admin</p>
                <p><%= blog[i].description %></p>
                <p><a class="w3-button w3-light-grey w3-block" href="/blog-details/<%= blog[i].slug %>">Read more</a></p>
            </div>
            <% } %>

        </div>

    </div>

    <%- include('../template/footer')-%>

</body>

</html>