<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
		}

		input[type=text],
		input[type=email],
		input[type=password] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}

		button {
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 100%;
		}

		button:hover {
			opacity: 0.8;
		}

		.cancelbtn {
			width: auto;
			padding: 10px 18px;
			background-color: #f44336;
		}

		.imgcontainer {
			text-align: center;
			margin: 24px 0 12px 0;
		}

		.container {
			width: 400px;
			margin: auto;
			padding: 16px;
		}

		span.password {
			float: right;
			padding-top: 16px;
		}

		/* Change styles for span and cancel button on extra small screens */
		@media screen and (max-width: 300px) {
			span.password {
				display: block;
				float: none;
			}

			.cancelbtn {
				width: 100%;
			}
		}
	</style>
	<%- include('../template/head')-%>
</head>

<body>
	<%- include('../template/header')-%>
	<form action="/admin/login" method="POST">
		<div class="imgcontainer">
			<br/><br/><br/><br/>
			<img src="/images/login.png" alt="Avatar" class="avatar" width="100px" height="100px">
		  </div>
		
		<div class="container">
			<%- include ('../template/messages') %>
			<label for="email"><b>Email</b></label>
			<input type="email" placeholder="Enter Email" name="email" required>

			<label for="password"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="password" required>

			<button type="submit">Login</button>
			<br />
			<p>
				
				<!-- Want an Account? <a href="/admin/register">Register</a> | -->
				 <a href="/">Back to Home</a> 
				</p>
		</div>
	</form>
	<%- include('../template/footer')-%>
</body>

</html>