<!DOCTYPE html>
<html>
<%- include('../template/head')-%>

<body>

    <%- include('../template/header')-%>

    <div class="w3-content w3-padding" style="max-width:1564px">

        <div class="w3-container w3-padding-32">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Site Manage</h3>
        </div>

        <div class="w3-container" id="blog" style="width: 50%;" >

            <form action="/site-update/<%= data._id %>" method="post" enctype="multipart/form-data">

                <label>
                    Title:
                </label>
                <input class="w3-input w3-border" type="text" placeholder="Title" required="" name="title"
                    value="<%= data.title %>">
                <br />
                <label>
                    Logo:
                </label>
                <input class="w3-input w3-border" type="file" name="logo">
                <br />
                <label>
                    Footer:
                </label>
                <input class="w3-input w3-border" type="text" placeholder="Footer" required="" name="footer"
                    value="<%= data.footer %>">

                <button class="w3-button w3-green w3-section" style="float: right;" type="submit">
                    Submit
                </button>

            </form>
        </div>

    </div>

    <%- include('../template/footer')-%>

</body>

</html>